.copyright-footer{
  background: rgba(255, 255, 255, 0.8);
  padding: 8px 24px;
  text-align: center;
  border-top: 1px solid #efefef;
  -webkit-box-shadow: 6px 8px 0px -6px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 6px 8px 0px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 8px 0px -6px rgba(0, 0, 0, 0.4);


  .company-name{
    color:#319691;
  }
}
