<div class="header">
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="#"><img src="assets/images/logo@2x.png"/></a>

      <button class="navbar-toggle x navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-x" aria-controls="navbar-collapse-x"
         aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
          <span class="navbar-toggler-icon icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-collapse-x" [collapse]=isCollapsed >
          <ul class="nav navbar-nav navbar-right ml-auto">
              <li class="nav-item" data-toggle="collapse"   data-target="#navbar-collapse.in">
                  <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item" data-toggle="collapse"   data-target="#navbar-collapse.in">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item" data-toggle="collapse"   data-target="#navbar-collapse.in">
                  <a class="nav-link" routerLink="/depositAndWithdrawl">Deposit/Withdrawal</a>
              </li>
              <li class="nav-item" data-toggle="collapse"   data-target="#navbar-collapse.in">
                  <a class="nav-link" (click)="logout()">Logout</a>
              </li>
          </ul>
      </div>
  </nav>
</div>
