<div>
  <form [formGroup]="form">
    <div class="form-group">
      <input type="text" class="form-control input-custom" id="signUpName" placeholder="Name" name="name" formControlName="name">
      <app-form-error [control]="form.controls.name"></app-form-error>
    </div>
    <div class="form-group">
      <input type="email" class="form-control input-custom" id="signUpEmail" placeholder="Email" name="email" formControlName="email" maxlength="30">
      <app-form-error [control]="form.controls.email"></app-form-error>
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-custom" id="signUpMobile" placeholder="Mobile" name="mobile" formControlName="mobile" maxlength="10">
      <app-form-error [control]="form.controls.mobile"></app-form-error>
    </div>
    <div class="form-group">
      <input type="password" class="form-control input-custom" id="signUpPassword" placeholder="Create a password" name="password" formControlName="password" maxlength="20">
      <app-form-error [control]="form.controls.password"></app-form-error>
    </div>

    <div class="submit-margin">
      <app-btn-primary
        [text]="'Register'"
        [onClick]=register
        [status]=signUpButtonState>
      </app-btn-primary>
    </div>
    <div class="row no-gutters justify-content-center not-registered">
      Already have an account? <span class="app-href" (click)="onClickSignIn()">Sign in now</span>
    </div>
  </form>
</div>
