<!-- Sign In -->
<div>
  <form [formGroup]="form">
    <div class="form-group">
      <input type="email" class="form-control input-custom" name="email" formControlName="email" placeholder="Enter email" >
      <app-form-error [control]="form.controls.email"></app-form-error>
    </div>
    <div class="form-group">
      <input type="password" class="form-control input-custom" name="password" formControlName="password" placeholder="Password" >
      <app-form-error [control]="form.controls.password"></app-form-error>
    </div>
    <div class="row no-gutters justify-content-end">
      <span class="app-href" (click)="onClickForgotPassword()">Forgot Password?</span>
    </div>
    <div class="submit-margin">
      <app-btn-primary
        [text]="'Sign in'"
        [onClick]="login"
        [status]=signInButtonState>
      </app-btn-primary>
    </div>
    <div class="row no-gutters justify-content-center not-registered">
      Not registered? <span class="app-href" (click)="onClickSignUp()">Sign up now</span>
    </div>
  </form>
</div>
