<div class="container-fluid d-flex flex-column onboarding">
  <div class="d-flex flex-row card-title">
    Welcome to Aristo Capital, {{firstName}}!
  </div>

  <div class="d-flex flex-row card-subtitle">
    Your journey with us is 3 steps away...
  </div>

  <div class="d-flex flex-row row no-gutters onboarding-steps">

    <div class="col-lg-4 col-xl-4 col-12 d-flex flex-column just-content-center
    align-items-center onboarding-step" (click)="kycDialog.open()">
      <img src="assets/images/icon-fingerprint.png"/>
      <span class="step-progress-text">Step 1</span>
      <span class="step-action underline">Apply</span>
      <span class="step-action">KYC/AML</span>
    </div>

    <div class="col-lg-4 col-xl-4 col-12 d-flex flex-column just-content-center
     align-items-center onboarding-step" (click)="depositBTCDialog.open()">
      <img src="assets/images/icon-piggy-bank.png"/>
      <span class="step-progress-text">Step 2</span>
      <span class="step-action underline">Deposit</span>
      <span class="step-action">BTC</span>
    </div>

    <div class="col-lg-4 col-xl-4 col-12 d-flex flex-column just-content-center align-items-center onboarding-step">
      <img src="assets/images/icon-start-trading.png"/>
      <span class="step-progress-text">Step 3</span>
      <span class="step-action underline">Buy</span>
      <span class="step-action">A10</span>
    </div>

  </div>

  <app-kyc #kycDialog></app-kyc>
  <app-deposit-btc #depositBTCDialog></app-deposit-btc>

</div>
