.onboarding{
  background-color: #fff;
  padding: 12px;
  margin-bottom: 48px;

  .card-title{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #656565;
    margin-bottom: 8px;
  }

  .card-subtitle{
    font-size: 15px;
    color: #858585;
    margin-bottom: 8px;
  }

  .onboarding-steps{

    .onboarding-step{
      padding: 18px 0px;
      cursor: pointer;

      &:hover{
        background-color: #f5f5f5;
      }

      img{
        width: 132px;
      }

      .step-progress-text{
        color: #656565;
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0;
      }

      .step-action{
        color: #66b9b3;
        font-weight: bold;
        font-size: 12px;
      }

      &.inactive{
        opacity: 0.6;
        cursor: no-drop;

        &:hover{
          background-color: none !important;
        }

      }
    }
  }


}
