#landing-page{
  padding: 0px !important;
}

#section-1{
  background-color: #3e3e58;
  min-height: 90vh;

  padding: 0px 10%;

  .navbar {
      background-color: #3e3e58;
      color: #fff;
      padding: 0;
      margin: 0 auto;
      width: 100%;

      .navbar-brand {
          height: 56px;

          img {
              height: 100%;
          }
      }

      .nav-item .nav-link {
          color: #d8d8d8;
          cursor: pointer;
      }

      ul{
        padding: 4px 12px;

        li{
          a{
            text-align: right;
            font-size: 15px;
            color: #fff;

            &:hover{
              text-decoration: underline;
            }
          }
        }
      }

  }

  .navbar-light .navbar-toggler{
    color: white !important;
    border: none !important;
    outline: none;
    // border-radius: 3px;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  h1 {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: -2.1px;
    color: #fff;
    margin-bottom: 24px;
  }

  h2 {
      text-align: center;
       font-size: 40px;
      font-weight: bold;
      color: #4a4a4a;
      margin-bottom: 60px;
  }

  h3 {
      margin-top: 24px;
      margin-bottom: 24px;
      font-size: 32px;
      letter-spacing: 0.4px;
      color: #333;
  }

  ul {
      list-style-type: none;
      padding: 0;
  }

  ul li {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 8px;
  }

  .cover {
    background-color: #3e3e58;

    .left {
        padding: 20px 0;

        .buttons{
          margin: 10px 10px 0px 0px;
        }

      p {
          font-size: 24px;
          font-weight: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #fff;
          font-family: Helvetica;
          margin-bottom: 50px;
      }

      button {
          height: 54px;
          border-radius: 4px;
          background-color: #3dbdb6;
          padding: 0 40px;
          margin-right: 21px;
          border: none;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: normal;
          text-align: center;
          color: #fff;
      }

    }
  }

}


#whatIs{
  background-color: #fff;

}

#graph{
  color: white;
  background: linear-gradient(118deg, #3dbdb6, #0089ce);
  padding: 36px 0px;

  .title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .subtitle{
    font-size: 18px;
    text-align: center;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
  }

  #chartdiv{
    width: 80%;
    padding: 30px 10%;
    height: 500px;
  }

  @media (max-width: 767px) {
    #chartdiv{
      height: 350px;
    }
  }
}

#team{
  background: linear-gradient(115deg, #1172d0, #1d98d6);

  .team-member{
    text-align: center;
    margin-bottom: 30px;
    padding: 0px 12px;

    .member-icon{
      img{
        height: 150px;
        width: 150px;
        border-radius: 75px;
        border: 1px solid white;
      }
    }

    .member-name{
      color: white;
      font-size: 18px;
      margin: 8px 0px 0px;
    }

    .member-desc{
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
    }
  }


}

#faqs{
  background-color: white;
  padding: 36px 0px;
  color: #333;

  .title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 30px
  }

  .faq{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    a{
      color: #333;

      &:hover{
        text-decoration: none;
      }
    }

    .question{
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      padding: 30px 0px;
    }

    .answer{
      font-size: 16px;
      padding-bottom: 20px;
      transition: display .35s ease-in-out;
    }

    &.last{
      border: none;
    }
  }
}

#footer{
  background-color: #1f2532;

  .footer-links{
    width: 100%;
    display: flex;

    footer{
      width: 100%;
      display: flex;

      .logo{
        img{
          max-height: 44px;
        }
      }

      .about-us-title{
        font-size: 14px;

      }

      .about-us{
        color: #c8c8c8;
        font-size: 12px;
      }
    }
  }

  #myFooter {
      color: white;
      padding-top: 30px;
  }

  #myFooter .navbar-brand {
      margin-top: 45px;
      height: 65px;
  }

  #myFooter ul {
      list-style-type: none;
      padding-left: 0;
      line-height: 1.7;
  }

  #myFooter h5 {
      font-size: 13px;
      color: white;
      margin-top: 30px;
  }

  #myFooter h2 a{
      font-size: 50px;
      text-align: center;
      color: #fff;
  }

  #myFooter a {
      color: #d2d1d1;
      text-decoration: none;
      font-size: 12px;
  }

  #myFooter a:hover,
  #myFooter a:focus {
      text-decoration: none;
      color: white;
  }

  #myFooter .social-networks {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 16px;
  }

  #myFooter .social-networks a {
      font-size: 32px;
      color: #f9f9f9;
      padding: 10px;
      transition: 0.2s;
  }

  #myFooter .social-networks a:hover {
      text-decoration: none;
  }

  #myFooter .facebook:hover {
      color: #0077e2;
  }

  #myFooter .google:hover {
      color: #ef1a1a;
  }

  #myFooter .twitter:hover {
      color: #00aced;
  }

  #myFooter .btn {
      color: white;
      background-color: #d84b6b;
      border-radius: 20px;
      border: none;
      width: 150px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      line-height: 25px;
  }

  @media screen and (max-width: 767px) {
      #myFooter {
          text-align: center;
      }
  }

}

.sectionWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 48px 0;

    &.philosophy{
      padding-bottom: 64px;
    }

    &.a10{
      background-color: #f5f5f5;
    }

    .title{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      color: #4a4a4a;
      margin-bottom: 60px
    }


    .img-container{
      padding: 0px 20px;
      display: flex;

      img{
        max-height: 230px;
      }

      &.right{
        justify-content: flex-end;
      }

      &.img-a10 > img {
        max-height: 190px !important;
      }
    }

    .text-container{
      display: flex;
      flex-direction: column;
      font-size: 19px;
      color: #000;

      .bullet-point{
          margin-bottom: 20px;
      }
    }

    .left{
      padding-left: 10%;
    }

    .right{
      padding-right: 10%;
    }

    .benefit{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
      padding: 0px 30px;

      .benefit-icon{

        margin: 0 auto;

        img{
          max-height: 132px;
        }
      }

      .benefit-title{
        color: #333;
        font-size: 23px;
        font-weight: bold;
        margin: 12px 0px;
        text-align: center;
      }

      .benefit-content{
        font-size: 16px;
        color: #72808e;
        text-align: center;

      }
    }

    @media (max-width: 767px) {

      .title{
        margin-bottom: 36px;
      }
      // Align text to center.
      .img-container {
        justify-content: center !important;
        margin-bottom: 36px;
        padding: 0px;

      }

      .text-container{
        padding: 0px 10%;
      }
    }


}

.sectionContent {
    margin: 0 auto;
}
