<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" id="landing-page">

  <!-- Section #1 : Main Home Page -->
  <div id="section-1" class="row">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="assets/images/logo@2x.png"/></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
           aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse collapse" id="navbarSupportedContent" [collapse]=isCollapsed >
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Philosophy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">How it works?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="openSignInDialog()">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Section -->
    <section class="cover row">
        <section class=" left col-lg-6 col-md-12">
            <h1>Welcome to Aristo Capital!</h1>
            <p>A technology powered by crypto mutual fund which invests in decentralized blockchain assets to maximize ROI and diversity risk!</p>
            <div class="row">
              <div class="col-xs-12 col-sm-5 buttons">
                <app-btn-primary
                  [text]="'Sign Up'"
                  [onClick]=openSignUpDialog>
                </app-btn-primary>
              </div>
              <div class="col-xs-12 col-sm-5 buttons">
                <app-btn-primary
                  [text]="'Join Telegram'"
                  [onClick]=openSignUpDialog>
                </app-btn-primary>
              </div>
            </div>
        </section>
        <section class="right col-sm-6 d-none d-lg-flex">
            <picture>
                <source media="(min-width: 769px)" srcset="assets/images/illustration@2x.png">
                <img src="assets/images/illustration.png" style="width:100%;">
            </picture>
        </section>
    </section>

  </div>


  <!-- What are  -->
  <div id="whatIs" class="row">

    <!-- WHAT IS ARISTO CAPITAL -->
    <section class="sectionWrapper philosophy">
        <h2 class="title">What is Aristo Capital?</h2>
        <section class="sectionContent whatIs row">

            <div class=" left col-sm-12 col-md-6 img-container">
              <img src="assets/images/group-2.png" >
            </div>

            <div class="right col-sm-12 col-md-6  text-container">
              <div class="bullet-point">
                  Aristo Capital is India’s most trustworthy and transparent mutual fund for crypto assets.
              </div>
              <div class="bullet-point">
                  We believe every Indian should have easy access to blockchain based assets - in a way which is risk free and which maximise
                  returns.
              </div>
              <div class="bullet-point">
                  We’re building tools which makes it easy for people to be a part of this new revolution.
              </div>
            </div>
        </section>
    </section>

    <!-- WHAT IS ARISTO CAPITAL -->
    <section class="sectionWrapper philosophy a10">
        <h2 class="title">Introducing A10 Index</h2>
        <section class="sectionContent whatIs row">

            <div class="left col-sm-12 col-md-6  text-container order-sm-12 order-md-1">
              <div class="bullet-point">
                  A10 Index, by Aristo Capital, holds the top 10 Cryptocurrencies weighed by Market cap and is rebalanced monthly.
              </div>
              <div class="bullet-point">
                You own A10 tokens - which are asset backed and can be traded on multiple decentralized exchanges for liquidity.
              </div>
            </div>

            <div class=" right col-sm-12 col-md-6 img-container img-a10 order-sm-1 order-md-12">
              <img src="assets/images/group-14.png" >
            </div>

        </section>
    </section>

    <!-- Benefits -->
    <section class="sectionWrapper philosophy">
        <h2 class="title">Benefits</h2>
        <section class="sectionContent row">

          <div class="col-lg-4 col-md-12 benefit">
            <div class="benefit-icon">
              <img src="assets/images/roi.png"/>
            </div>
            <div class="benefit-title"> High ROI </div>
            <div class="benefit-content">Smart way to invest in Crypto assets. Over years, the %age share of Bitcoin in total market cap has been declining</div>
          </div>

          <div class="col-lg-4 col-md-12 benefit">
            <div class="benefit-icon">
              <img src="assets/images/secure.png"/>
            </div>
            <div class="benefit-title"> Secure way to own </div>
            <div class="benefit-content">Aristo Capital uses state-of-the-art technology to secure funds.</div>
          </div>

          <div class="col-lg-4 col-md-12 benefit">
            <div class="benefit-icon">
              <img src="assets/images/convenient.png"/>
            </div>
            <div class="benefit-title"> Convenient Investment </div>
            <div class="benefit-content">Managing portfolio, researching which coins to buy, choosing an exchange, when to rebalance - all done by Aristo Capital</div>
          </div>


        </section>
    </section>

  </div>

  <!-- Graph -->
  <div id="graph" class="row">
    <div class="col-12">
      <div class="title row">Performance of A10 Crypto Index Fund vs Bitcoin</div>
      <div class="subtitle row">From Initial Investment of $1000 over past year</div>
      <div class="graph-container row">
        <div id="chartdiv"></div>
      </div>
    </div>
  </div>

  <!-- Team -->
  <div id="team" class="row">
    <section class="sectionWrapper team">
        <h2 class="title" style="color:white">Team</h2>
        <section class="sectionContent row">

          <div *ngFor="let member of teamMembers" class="col-lg-2 mr-auto col-md-12 team-member">
            <div class="member-icon">
              <img src={{member.image}}/>
            </div>
            <div class="member-name"> {{member.name}} </div>
            <div class="member-desc">{{member.desc}}</div>
          </div>

        </section>
    </section>
  </div>

  <!-- FAQs -->
  <div id="faqs" class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="title">FAQs</div>
      <div *ngFor="let singleFaq of faqs; let i = index;" [ngClass]="{'faq':true, 'last': i+1 === faqs.length}">
        <a class="question row ml-auto" data-toggle="collapse" [attr.href]="'#faq' + i"
            [attr.aria-expanded]="singleFaq.isCollapsed" [attr.aria-controls]="'faq' + i" (click) = "singleFaq.isCollapsed = !singleFaq.isCollapsed">
          <div class="question-text col-10">{{singleFaq.question}}</div>
          <div class="question-collapse-icon col-1">
            <img src="{{(singleFaq.isCollapsed) ? 'assets/images/icon-collapse-close.svg' : 'assets/images/icon-collapse-open.svg'}}" />
          </div>
        </a>
        <div class="answer collapse" [attr.id]="'faq' + i" [innerHTML]="singleFaq.answer" [collapse]=singleFaq.isCollapsed></div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div id="footer" class="row">
    <div class="footer-links">
      <footer id="myFooter">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
              ABOUT US
            </div>
          </div>
            <div class="row">
              <div class="col-lg-3 d-none d-lg-block logo ">
                <img src="assets/images/logo@2x.png"/>
              </div>
              <div class="col-lg-6 about-us">
                  <p>Aristo Capital is India's leading crypto based mutual fund. Our mission is to enable investors participate in this blockchain revolution by providing them appropriate financial instruments.</p>
                  <p>Aristo Capital’s first product is A10 crypto Index. It helps investors keep track of market movements and invest in top 10 coins without hassle</p>
              </div>
            </div>
            <hr style="border-top: 1px solid rgba(251, 251, 251, 0.1)"/>
            <div class="row">
              <div class="col-md-8">
                <div class="row ml-auto">
                  <div class="col-md-4">
                      <h5>Info</h5>
                      <ul>
                          <li><a href="#">Vision</a></li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">A10 Index</a></li>
                          <li><a href="#">Blog</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h5>Policy</h5>
                      <ul>
                          <li><a href="#">Terms of Use</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">AML Policy</a></li>
                          <li><a href="#">Disclaimer</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h5>Recent Blogs</h5>
                      <ul>
                          <li><a href="#">What is Bitcoin?</a></li>
                          <li><a href="#">What is Aristo Capital?</a></li>
                          <li><a href="#">What is Blockchain?</a></li>
                          <li><a href="#">Is Bitcoing legal in India?</a></li>
                      </ul>
                  </div>
                </div>
              </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
      </footer>
    </div>

  </div>


  <!-- Auth -->
  <app-auth-modal #authModal
    [title]="'Login'">
  </app-auth-modal>

</div>
