<div class="row app-card">
  <div class="col-12">

    <div class='row app-card-header' *ngIf="_tabs && _tabs.getTabsCount()>1">
      <div class="tab" [ngClass]="{'selected':_tabs.selected === i}" *ngFor="let tab of _tabs.tabList; let i = index" (click)="changeTab(tab.text)">
        {{tab.text}}
      </div>
    </div>

    <div class='row app-card-header' *ngIf="_tabs && _tabs.getTabsCount()===1">
      <div class="tab single" *ngFor="let tab of _tabs.tabList;">
        {{tab.text}}
      </div>
    </div>

    <div class='app-card-body'>
      <ng-content></ng-content>
      <div class="loading-overlay" *ngIf="_showCardDataLoader">
        <app-loader
            class='loading-overlay-loader'
            [show]="true">
        </app-loader>
      </div>
    </div>
  </div>
</div>
