.app-card{
  background-color: white;
  border: solid 1px #e0e0e0;
}

.app-card-header{
  height: 44px;
  padding-right: 12px;
  border-bottom: 1px solid #e6eaee;
  text-transform: uppercase;

  &.hide{
    display: none;
  }
}

.tab{
  font-size: 15px;
  color: #666;
  font-weight: bold;
  border-right: 1px solid #e6eaee;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  cursor: pointer;
  border-bottom: 2px solid #fff;

  &.selected{
    color: #3dbdb6;
    border-bottom: 2px solid #3dbdb6;
  }

  &.single{
    font-size: 14px;
    color: #666;
    border: none;
  }
}


.app-card-body{
  padding: 12px 24px;
  position: relative;
  height: 350px;
  overflow-y: auto;
}

.loading-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
}


.loading-overlay-loader{
  top: 48%;
  left: 48%;
  position: absolute;
}
