<div bsModal #genericModal="bs-modal" class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="genericModalLabel" aria-hidden="">
  <div class="modal-dialog" role="document">
    <div class="modal-content position-relative">
      <button type="button" class="close btn-sm position-absolute" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <ng-content></ng-content>
    </div>
  </div>
</div>
