.modal-content{
  border-radius: 4px;
  box-shadow: none;

  .close{
    outline: none;
    right: 0px;
    top: 0px;
    padding: 6px 12px;
    color: white;
    opacity: 0.6;
    z-index: 1000;
    font-family: Nunito;
  }
}
