<div class="row">
  <div class="col-12">
    <app-generic-card
      [ngClass]="{'nav-growth-card':true}"
      [(tabs)]=tabs
      [loading]=loader>
      <div id="navGrowthChart"></div>
    </app-generic-card>
  </div>
</div>
