
<span *ngIf="shouldShowErrors()">
  <span class="form-error" *ngFor="let error of listOfErrors()">{{error}}</span>
</span>
<span *ngIf="!shouldShowErrors() && showGlobalErrorMessage()">
  <span class="form-error">{{globalErrorMessage}}</span>
</span>
