<!-- Reset Password -->
<div>
  <form [formGroup]="form">

    <div class="form-group">
      <input type="password" class="form-control input-custom" name="password" formControlName="password" placeholder="Password" >
      <app-form-error [control]="form.controls.password"></app-form-error>
    </div>

    <div class="form-group">
      <input type="password" class="form-control input-custom" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" >
      <app-form-error [control]="form.controls.confirmPassword"></app-form-error>
    </div>
    <div class="submit-margin">
      <app-btn-primary
        [text]="'Reset'"
        [onClick]="resetPassword"
        [status]=resetButtonState>
      </app-btn-primary>
    </div>
  </form>
</div>
