.buy-sell-body{
  color: #666;
  font-size: 15px;

  .label{
    // font-weight: bold;
  }

  .submit{
    margin-top: 14px;
  }

  .tnc{
    font-size: 10px;
  }
}

.btc-balance{
  font-size: 12px;
  padding: 8px 0px;
}


.important-note{
  margin: 18px 0px;

  .title{
    font-size: 15px;
    font-weight: bold;
  }

  .content{
    font-size: 14px;
  }

  .app-href{
    font-size: 13px;
  }
}

.btc-address{
  font-size: 15px;
}

.aclass{
  .aclass{
    background: red;
    img{
      width: 120px;
    }
  }
}
