<div class="row">
  <div class="col-12">
    <app-generic-card
      [(tabs)]=tabs
      [loading]="tabs.selected===0 ? depositLoader : withdrawLoader">

      <!-- Deposit BTC -->
      <div class="buy-sell-body row" *ngIf="tabs.selected===0">
        <div class="col-12">

          <div class="btc-address row">
            <div class="col-lg-8 col-md-12">
              <span class="title font-medium font-bold">Your personal Bitcoin address is:</span>
              <div class="row">
                <div class="input-group d-flex-inline">
                  <input type="text" [value]=userBtcAddress class="form-control" readonly>
                  <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-12">
              <ngx-qrcode
                [qrc-value] = userBtcAddress
                qrc-class = "aclass"
                class="aclass"
                qrc-errorCorrectionLevel = "H">
              </ngx-qrcode>
            </div>


          </div>

          <div class="row important-note d-flex flex-column">
            <span class="title font-bold">Important Note:</span>
            <div class="col-10 content">
              <div>1. The minimum deposit amount is 0.0002BTC</div>
              <div>2. Your deposit will be credited after 2 confirmation on the Bitcoin network.</div>
              <div>3. Do not send any other token to this address otherwise your funds will get lost and we won't be liable for your loss.
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Withdraw BTC -->
      <div class="buy-sell-body row" *ngIf='tabs.selected!==0'>
        <div class="col-12">
          <div class="row justify-content-end btc-balance underline">
            BTC Balance: {{userBalances ? userBalances.btcBalance : '--'}}
          </div>
          <form>

            <div class="form-group row">
              <div class="col-3 label">BTC Address</div>
              <div class="col-9">
                <input type="text" class="form-control input-custom" name="withdrawBtcAddress" [ngModel]="withdrawBtcAddress" (ngModelChange)="onWithdrawAddressChange($event)" [ngModelOptions]="{standalone: true}" placeholder="BTC Withdraw Address">
              </div>
            </div>


            <div class="form-group row">
              <div class="col-3 label">BTC Amount</div>
              <div class="col-9">
                <input type="number" class="form-control input-custom" name="withdrawBtcAmount" [ngModel]="withdrawBtcAmount" (ngModelChange)="onWithdrawAmountChange($event)" [ngModelOptions]="{standalone: true}">
              </div>
            </div>



            <div class="form-group row submit">
              <div class="col-3 label"></div>

              <div class="col-9">

                <app-form-error
                  [globalErrorMessage]=withdrawError>
                </app-form-error>

                <app-btn-primary
                  [text]="'Withdraw'"
                  [onClick]=withdrawBTC
                  [status]=withdrawButtonState >
                </app-btn-primary>

              </div>
            </div>

          </form>
        </div>
      </div>

    </app-generic-card>
  </div>
</div>
