form{
  width: 100%;
}

modal-body-left{
  width: 100%;
}

modal-body-right{
  width: 100%;
  min-height: 320px;

  .modal-body-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30%;

    .text{
      font-size: 13px;
      line-height: 0.92;
      color: #fff;
      text-align: center;
      margin-top: 12px;
    }
  }
}

.submit-margin{
  margin-top: 20px;
  margin-bottom: 20px;
}

.not-registered{
  font-size: 13px;

  .app-href{
    font-size: 13px;
  }

}
