<app-two-partition-modal #appTwoPartitionModal [title] = _title [show]=_show>
    <modal-body-left>

      <!-- Sign In -->
      <app-sign-in
        *ngIf="dialogState === authStateEnum.SIGN_IN"
        [onClickForgotPassword]=openForgotPassword
        [onClickSignUp]=openSignUp
        (onSuccess)="onSuccess($event)">
      </app-sign-in>

      <!-- Signup-->
      <app-sign-up
        *ngIf="dialogState === authStateEnum.SIGN_UP"
        [onClickSignIn]=openSignIn
        (onSuccess)="onSuccess($event)">
      </app-sign-up>

        <!-- Forgot Password-->
      <app-forgot-password
        *ngIf="dialogState === authStateEnum.FORGOT_PASSWORD"
        (onSuccess)="onSuccess($event)">
      </app-forgot-password>

      <!-- Verify OTP -->
      <app-verify-otp
        *ngIf="dialogState === authStateEnum.VERIFY_OTP"
        [(otpSourceId)]=otpSourceId
        [onClickVerifyOtp]=openVerifyOtp>
      </app-verify-otp>

      <app-confirmation-content
        [textContent]=confirmationContentText
        *ngIf="dialogState === authStateEnum.CONFIRMATION">
      </app-confirmation-content>

      <!-- Signup-->
      <app-reset-password
        *ngIf="dialogState === authStateEnum.RESET_PASSWORD"
        (onSuccess)="onSuccess($event)">
      </app-reset-password>

    </modal-body-left>

    <modal-body-right>
      <!-- The journey of thousand miles begins with a single step -->
      <div class="modal-body-container">
        <img src="assets/images/icon-login-modal.svg" />
        <span class="text">The journey of thousand miles begins with a single step!</span>
      </div>
    </modal-body-right>

</app-two-partition-modal>
