<div>
  <form [formGroup]="form">
    <div class="form-group">
      <input type="email" class="form-control input-custom" id="registeredmail" aria-describedby="emailHelp" placeholder="Enter registered email"  name="email" formControlName="email" maxlength="30">
      <app-form-error [control]="form.controls.email"></app-form-error>
    </div>
    <div class="submit-margin">
      <app-btn-primary
        [text]="'Submit'"
        [onClick]=forgotPassword
        [status]=forgotPasswordButtonState>
      </app-btn-primary>
    </div>
  </form>
</div>
