<div class='row justify-content-center align-items-center no-gutters'>

    <button type="button" class="btn btn-primary justify-content-center btn-block "
    [disabled]="_status!==appButtonStatusEnum.ENABLED" (click)="onButtonClick()">
        {{_text}}
    </button>

    <app-loader
        class='position-absolute'
        [show]="_status===appButtonStatusEnum.PROCESSING">
    </app-loader>

</div>
