.btn{
    border-radius: 4px;
    padding: 11px 32px;
    font-weight: 800;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;

    &:focus{
      outline:none;
      box-shadow: none;

    }

    &:disabled{
        opacity: 0.8;
        cursor: no-drop;
    }

}
