<app-plain-modal #dialog>

  <modal-title>KYC</modal-title>

  <modal-body>
    <div class="flex-column row">
      <div class="modal-note">
        <b>Note:</b> Investing in Cryptocurrencies is risky, and subject to Market risks.
        We do a risk profiling and Anti - Money Laundering check to make sure we are on the right side of the law.
      </div>

      <form class="kyc-form">
        <!-- Input country -->
        <div class="form-group input-country row ">
          <div class="input-kyc-label col-md-3 col-sm-12">Country</div>
          <div class="col-md-9 col-sm-12">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" [value]="true" [(ngModel)]="countrySelector"> India
              </label>
            </div>
            <!-- <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" [value]="false" [(ngModel)]="countrySelector"> International
              </label>
            </div> -->
          </div>
        </div>

        <div class="form-india" *ngIf="countrySelector">
          <!-- Passport -->
          <div class="form-group input-image row ">
            <div class="input-kyc-label col-md-3 col-sm-12">Aadhar (Front + Back)</div>
            <div class="d-inline-flex col-md-9 col-sm-12">
              <input type="file" id="aadharFront" class="form-control-file d-none" accept="image/png,image/jpeg" (change)="onFileSelect($event, 'aadharFrontUrl')" #aadharFront/>
              <img class="cursor-pointer image-upload" [src]="documents.aadharFrontUrl ? documents.aadharFrontUrl : 'assets/images/icon-image-upload.png'" (click)="aadharFront.click()"/>

              <input type="file" id="fileInput4" class="form-control-file d-none" accept="image/png,image/jpeg" (change)="onFileSelect($event, 'aadharBackUrl')" #fileInput4/>
              <img class="cursor-pointer image-upload aadhar-back" [src]="documents.aadharBackUrl ? documents.aadharBackUrl : 'assets/images/icon-image-upload.png'" (click)="fileInput4.click()"/>
            </div>
          </div>

          <!-- PAN Card -->
          <div class="form-group input-image row ">
            <div class="input-kyc-label col-md-3 col-sm-12">PAN Card</div>
            <div class="d-inline-flex col-md-9 col-sm-12">
              <input type="file" id="fileInput2" class="form-control-file d-none" accept="image/png,image/jpeg" (change)="onFileSelect($event, 'pancardUrl')" #fileInput2/>
              <img class="cursor-pointer image-upload" [src]="documents.pancardUrl ? documents.pancardUrl : 'assets/images/icon-image-upload.png'" (click)="fileInput2.click()"/>
            </div>
          </div>

          <!-- Source of income -->
          <div class="form-group input-image row ">
            <div class="input-kyc-label col-md-3 col-sm-12">Proof of  source of Income</div>
            <div class="d-inline-flex col-md-9 col-sm-12">
              <input type="file" id="fileInput3" class="form-control-file d-none" accept="image/png,image/jpeg" (change)="onFileSelect($event, 'incomeSourceUrl')" #fileInput3/>
              <img class="cursor-pointer image-upload" [src]="documents.incomeSourceUrl ? documents.incomeSourceUrl : 'assets/images/icon-image-upload.png'" (click)="fileInput3.click()"/>
            </div>
          </div>

          <div class="modal-note">
            <b>Note:</b> Please make sure you use your real identity to do this verification. We will protect your personal information.
          </div>
        </div>

        <div class="form-international" *ngIf="!countrySelector">
          <!-- Select Country -->
          <div class="form-group input-image row ">
            <div class="input-kyc-label col-md-2 col-sm-12">Residence</div>
            <div class="d-inline-flex col-md-8 col-sm-12">
              <select class="custom-select" [(ngModel)]=selectedCountry required>
                <option [ngValue]=country *ngFor="let country of countryList;">{{country}}</option>
              </select>
            </div>
          </div>

          <div class="modal-note international">
            Since the documents vary from country to country, we’ll be reaching out to you on your email ID from hi@quantum.capital
            <br/><br/>
            Click ‘Submit’ to process your application
          </div>
        </div>

      </form>


    </div>
  </modal-body>

  <modal-footer>
    <div class="row d-flex flex-row justify-content-end">
        <app-btn-primary class="app-btn-secondary button-space" [text]="'Cancel'" [onClick]="close"> </app-btn-primary>
        <app-btn-primary [text]="'Submit'"  [onClick]="close"> </app-btn-primary>
    </div>
  </modal-footer>

</app-plain-modal>
