.kyc-form{
  margin: 12px 0px;
  font-size: 16px;

  .image-upload{
    height: 64px;
  }

  .aadhar-back{
    margin-left: 24px;
  }
}

.input-kyc-label{
  min-width: 100px;
  display: inline-flex;
  text-align: left;
  font-weight: bold;
  margin-bottom: 4px;
}

.form-check-label{
  font-size: 16px;
}


.button-space{
  margin-right: 12px;
}


.modal-note{
  font-size: 16px;
  .international{
    margin: 24px 0px 18px;
  }
}
