.user-balance-card{

  .balance-unit{
    margin-bottom: 24px;
  }

  .unit-title{
    font-size: 15px;
    color: #333;
    font-weight: bold;
    line-height: 24px;

    .subtitle{
      font-size: 12px;
      color: #666;
      vertical-align: text-bottom;
    }
  }

  .unit-amount{
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 36px;

    .unit-amount-dollar{
      font-size: 12px;
      color: #666;
      vertical-align: text-bottom;
    }
  }

  #navDistributionChart{
    width: 100%;
    height: 230px;
  }


}
