<div class="row user-balance-card">
  <div class="col-12">
    <app-generic-card
      [(tabs)]=tabs
      [loading]=loader>
      <div class="row">
        <div class="col-5">
          <div class="row balance-unit">
            <div class="col-12">
              <div class="row unit-title">A10 Tokens</div>
              <div class="row unit-amount">100 &nbsp;<span class="unit-amount-dollar">(~1000$)</span></div>
            </div>
          </div>

          <div class="row balance-unit">
            <div class="col-12">
              <div class="row unit-title">A10 Price&nbsp;<span class="subtitle">(at 11am IST 12-03-2018)</span></div>
              <div class="row unit-amount">10$</div>
            </div>
          </div>

        </div>
        <div class="col-7">
          <div id="navDistributionChart"></div>
        </div>
      </div>
      <div id="chartLegends"></div>

    </app-generic-card>
  </div>
</div>
