<div class="d-flex flex-column deposit-withdrawal ">
  <app-header></app-header>
  <div class="container-fluid body">
    <div class="row no-gutters justify-content-between action-deposit-withdrawal">
      <div class="col-12">
        <app-btc-deposit-withdrawal > </app-btc-deposit-withdrawal>
      </div>
    </div>
    <div class="row no-gutters justify-content-between">
      <div class="col-12">
        <app-btc-txn-history> </app-btc-txn-history>
      </div>
    </div>
  </div>
  <app-copyright-footer></app-copyright-footer>
</div>
