<div class="d-flex flex-column user-home ">
  <app-header></app-header>

  <div class="container-fluid body">
    <app-onboarding class="onboarding"></app-onboarding>

    <div class="row no-gutters justify-content-between">
      <div class="left col-lg-6 col-md-12">
        <app-user-balance-card > </app-user-balance-card>
      </div>
      <div class="right col-lg-6 col-md-12">
        <app-nav-growth-card> </app-nav-growth-card>
      </div>
    </div>

    <div class="row no-gutters justify-content-between">
      <div class="left col-lg-6 col-md-12">
        <app-buy-sell-nav-card > </app-buy-sell-nav-card>
      </div>
      <div class="right col-lg-6 col-md-12">
        <app-nav-txn-history> </app-nav-txn-history>
      </div>
    </div>
  </div>

  <app-copyright-footer></app-copyright-footer>
</div>
