.user-home{
  background-color: #f2f5f8;

  .body{
    padding: 48px;

    .onboarding{
      margin-bottom: 48px;
    }

  }


  .left{
    padding-right: 24px;
    margin-bottom: 48px;
  }

  .right{
    padding-left: 24px;
    margin-bottom: 48px;
  }

  @media (max-width: 767px) {
    .left{
      padding-right: 0px;
    }

    .right{
      padding-left: 0px;
    }
  }
}
