<div>
  <form [formGroup]="form">
    <div>
      <div class="otp-source-label">
        An OTP has been sent on your Email
      </div>
      <div class="otp-source-id">
        {{_otpSourceId}}
      </div>
    </div>
    <div class="form-group">
      <input type="number" class="form-control input-custom" id="otp" placeholder="Enter otp" name="otp" formControlName="otp" maxlength="6" max="100000">
      <app-form-error [control]="form.controls.otp"></app-form-error>
    </div>
    <div class="submit-margin">
      <app-btn-primary
        [text]="'Verify'"
        [onClick]=verifyOtp
        [status]=verifyOtpButtonState>
      </app-btn-primary>
    </div>
  </form>
</div>
