// Here you can add other styles

body{
  font-family: Nunito !important;
  background: #f2f5f8;
}

// Loader component
.spinner {
  width: 35px;
  height: 35px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0095ad;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.row {
  margin-right: 0;
  margin-left: 0;
}
.row > [class^="col-"],
.row > [class*=" col-"],
[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}


/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 576px){

  .modal-dialog {
    max-width: 650px;
  }

}

/**/
::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 8px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  position: absolute;
  right: 0;
  width: 8px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 100px;
  position: absolute;
  right: 0;
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 100px;
  position: absolute;
  right: 0;
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  width: 8px;
  height: 4px;
}

ng-content{
  width:100%;
}

.input-custom{
  border-radius: 4px;
  border: solid 1px #e3e3e3;

  &:focus{
    outline: none;
    box-shadow: none;
  }
}

.app-href{
  font-family: Nunito;
  font-size: 12px;
  font-weight: bold;
  color: #3dbdb6;
  cursor: pointer;
  padding: 2px 8px;
}

.underline{
  text-decoration: underline;
}


.cursor-pointer{
  cursor: pointer;
}


app-btn-primary{
  &.app-btn-secondary{
    button{
      background-color: #bbb !important;
      border-color: #aaa !important;
    }
  }
}


.font-medium{
  font-size: 16px;
}

.font-bold{
  font-weight: bold;
}


.border-none{
  border: none !important;
}


.amcharts-chart-div{
	a{
		display: none !important;
	}
}


.container-fluid{
  padding: 0px;
}


.loading-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
}


.loading-overlay-loader{
  top: 48%;
  left: 48%;
  position: absolute;
}
