.two-partition-modal{
  .partition{
    &.left{
      padding: 20px 48px;
    }

    &.right{
      background-color: #3e3e58;
      color: white;
    }
  }

  .header{
    margin-bottom: 24px;

    .title{
      font-family: Nunito;
      font-size: 16px;
      font-weight: bold;
      color: #3dbdb6;
      border-bottom: 2px solid #3dbdb6;
      text-transform: uppercase;
    }
  }

}
