<app-generic-modal #appGenericModal [(show)]=_show >
  <div class='container' class="two-partition-modal">

    <div class='row no-gutters'>
      <!-- Left partition -->
      <div class='col-xl-8 col-lg-8 col-12 modal-col partition left'>
        <div class='row header'>
          <span class="title">{{_title}}</span>
        </div>
        <div class='row'>
          <ng-content select="modal-body-left"></ng-content>
        </div>
      </div>

      <!-- Right partition -->
      <div class='col-xl-4 col-lg-4 modal-col partition right d-none d-lg-flex'>
          <ng-content select="modal-body-right"></ng-content>
      </div>

    </div>

  </div>
</app-generic-modal>
