<div class="row">
  <div class="col-12">
    <app-generic-card
      [(tabs)]=tabs
      [loading]=balancesLoader>

      <div class="buy-sell-body row" *ngIf="tabs.selected===0">
        <div class="col-12">
          <div class="row justify-content-end btc-balance underline">
            BTC Balance: {{userBalances ? userBalances.btcBalance : '--'}}
          </div>
          <form>
            <div class="form-group row">
              <div class="col-4 label">A10 Price</div>
              <div class="col-6">
                <input type="text" name="a10Price" class="form-control input-custom" value="{{userBalances ? userBalances.a10PriceInBtc : '-'}}" readonly>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-4 label">BTC Amount</div>
              <div class="col-6">
                <input name="buyBtcAmount" type="number" class="form-control input-custom" placeholder="BTC" [ngModel]="buyBtcAmount" (ngModelChange)="buyAmountChange($event)" [ngModelOptions]="{standalone: true}">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-4 label">Units you get*</div>
              <div class="col-6">
                <input type="number" name="a10UnitsYouGet" class="form-control input-custom" value="{{userBalances ? (buyBtcAmount/userBalances.a10PriceInBtc) : '-' }}" readonly>
              </div>
            </div>
            <div class="form-group row submit">
              <div class="col-4 label"></div>
              <div class="col-6">

                <app-form-error [globalErrorMessage]=buyError></app-form-error>
                <app-btn-primary
                  [text]="'Buy NAV'"
                  [onClick]=buyA10
                  [status]=buyButtonState
                  ></app-btn-primary>
              </div>
            </div>

            <div class="row">
              <div class="col-12 tnc">
                * This is a rough approximation based on today’s price. Actual Units you get will depend upon A10 Price at 8AM tomorrow
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="buy-sell-body row" *ngIf='tabs.selected!==0'>
        <div class="col-12">
          <div class="row justify-content-end btc-balance underline">
            A10 Balance: {{userBalances ? userBalances.a10Balance : '--'}}
          </div>
          <form>
            <div class="form-group row">
              <div class="col-4 label">A10 Price</div>
              <div class="col-6">
                <input type="text" class="form-control input-custom"  value="{{userBalances ? userBalances.a10PriceInBtc : '-'}}" readonly>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-4 label">A10 Units</div>
              <div class="col-6">
                <input type="text" class="form-control input-custom" placeholder="A10" [ngModel]="sellBtcAmount" (ngModelChange)="sellAmountChange($event)" [ngModelOptions]="{standalone: true}">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-4 label">BTC you get*</div>
              <div class="col-6">
                <input type="text" class="form-control input-custom" value="{{userBalances ? (sellNavAmount*userBalances.a10PriceInBtc) : '-' }}" readonly>
              </div>
            </div>
            <div class="form-group row submit">
              <div class="col-4 label"></div>
              <div class="col-6">

                <app-form-error [globalErrorMessage]=sellError></app-form-error>
                <app-btn-primary
                  [text]="'Sell NAV'"
                  [onClick]=sellA10
                  [status]=sellButtonState>
                </app-btn-primary>
              </div>
            </div>

            <div class="row">
              <div class="col-12 tnc">
                * This is a rough approximation based on today’s price. Actual Units you get will depend upon A10 Price at 8AM tomorrow
              </div>
            </div>
          </form>
        </div>
      </div>

    </app-generic-card>
  </div>
</div>
