.buy-sell-body{
  color: #666;
  font-size: 15px;

  .label{
    // font-weight: bold;
  }

  .submit{
    margin-top: 14px;
  }

  .tnc{
    font-size: 10px;
  }
}

.btc-balance{
  font-size: 12px;
  padding: 8px 0px;
}
