.confirmation{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12% 6%;

  .text{
    font-size: 15px;
    line-height: 0.92;
    color: #333;
    text-align: center;
    margin-top: 24px;
    line-height: 1.5;
    word-spacing: 0.5;
  }
}
