<app-plain-modal #dialog>

  <modal-title>Deposit BTC</modal-title>

  <modal-body>
      <div class="btc-address">
        <span class="title font-medium font-bold">Your personal Bitcoin address is:</span>

        <ngx-qrcode
          [qrc-value] = userBtcAddress
          qrc-class = "aclass"
          qrc-errorCorrectionLevel = "H">
        </ngx-qrcode>

        <div class="row">
          <div class="input-group d-flex-inline">
            <input type="text" [value]=userBtcAddress class="form-control" readonly>
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          </div>
        </div>
      </div>

      <div class="row important-note d-flex flex-column">
        <span class="title font-medium font-bold">Important Note:</span>
        <div class="col-10">
          <div>1. The minimum deposit amount is 0.0002BTC</div>
          <div>2. Your deposit will be credited after 2 confirmation on the Bitcoin network.</div>
          <div><span>3. Do not send any other token to this address otherwise your funds will get lost and we won't be liable for your loss.
            You can see your balances in</span> <span routerLink="/depositAndWithdrawl" class="app-href underline">Deposit & Withdrawl section</span>.
          </div>
        </div>
    </div>

    <div class="loading-overlay" *ngIf="depositLoader">
      <app-loader
          class='loading-overlay-loader'
          [show]="true">
      </app-loader>
    </div>
  </modal-body>

  <modal-footer>
    <app-btn-primary [text]="'Okay'" [onClick]="close"> </app-btn-primary>
  </modal-footer>

</app-plain-modal>
