.txn-history{
  .body{
    padding: 0px 0px 12px;

    table{
      border: none !important;


      .table-header-subtitle{
        font-size: 12px;
      }

      thead{
        color: #666;
        font-weight: bold;
        border: #999;

        td{
          border: none;
        }
      }

      tbody{
        border: #efefef;

        .in{
          color: green;
        }

        .out{
          color: red;
        }
      }
    }
  }
}
