<div class="row txn-history">
  <div class="col-12">

    <app-generic-card
      [(tabs)]=tabs
      [loading]=loader>

      <div class="body">
        <table class="table table-hover" border="1" rules="rows">
          <thead>
              <tr>
                  <td>Date</td>
                  <td>Type</td>
                  <td>BTC</td>
                  <td>Address</td>
                  <td>Status</td>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let history of txnHistoryData" >
                  <td>{{history.timestamp | date:'dd MMM, yyyy HH:mm'}}</td> <!-- [routerLink]="['/transfer']" [queryParams]="{ id: history.timestamp }" -->
                  <td [ngClass]="{'in': history.type === 'DEPOSIT', 'out': history.type === 'WITHDRAW'}">{{history.type}}</td>
                  <td>{{history.amount}}</td>
                  <td>{{history.to_from_address}}</td>
                  <td>{{history.status}}</td>
              </tr>
          </tbody>
      </table>
      </div>

    </app-generic-card>
  </div>
</div>
