.plain-modal{
  padding: 18px 28px;

  .plain-modal-header{
    margin-bottom: 18px;

    .title{
      font-family: Nunito;
      font-size: 16px;
      font-weight: bold;
      color: #3dbdb6;
      border-bottom: 2px solid #3dbdb6;
      text-transform: uppercase;
    }
  }

}

.modal-content{
  button.close{
    color: #333 !important;
  }
}
