<app-generic-modal #dialog>
  <div class='container plain-modal'>

    <div class='row plain-modal-header no-gutters'>
      <span class="title">
        <ng-content select="modal-title"></ng-content>
      </span>
    </div>

    <div class='row plain-modal-body no-gutters'>
      <ng-content select="modal-body"></ng-content>
    </div>

    <div class='row plain-modal-footer d-flex justify-content-end'>
      <ng-content select="modal-footer"></ng-content>
    </div>

  </div>
</app-generic-modal>
